# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/

##Github EMACS Ignore
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

##Github VIM Ignore
*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

##Github SVN Ignore
.svn/

##Github CVS Ignore
/CVS/*
*/CVS/*
.cvsignore
*/.cvsignore

##Github Linux Ignore
!.gitignore
*~

##Github OSX Ignore
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

##Github Python Ignore
*.py[cod]
src/examples/.ipynb_checkpoints/
	

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Remote sync config
.remote-sync.json

# backup files
*.py.bak

# trained models
data/book_corpus/
data/google_news